
<table align="center">
  <tr>
    <td>
      <a routerLink="public-page">[PUBLIC-PAGE]</a>
    </td>
    </tr>
    <tr>
    <td>
      <a routerLink="restricted-page">[RESTRICTED-PAGE</a>
    </td>
    </tr>
    <br>
    <br>
    <tr>
    <td align="center"><button mat-button (click)="login()" *ngIf="!isLoggedIn()">SIGN IN</button></td>
    <td align="center"><button (click)="logout()" *ngIf="isLoggedIn()">SIGN OUT</button></td>
    
  </tr>


<div  *ngIf="isLoggedIn()">
  <h3>You are logged in Successfully</h3>
</div>
<div *ngIf="!isLoggedIn()"> 
  <h3>You are not logged in..</h3>

</div>
</table>
<router-outlet></router-outlet>
